.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-profile{
    display: flex;
    align-items: center;
    column-gap: 2px;
}

.admin-profile img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.admin-profile div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.admin-profile div h1{
    font-size: 1.2rem;
}

.admin-profile div h3{
    color: #858585;
}

.header-left-section{
    display: flex;
    column-gap:2px;
}

.search-box{
    background-color: var(--white);
    border-radius: 1.5rem;
    width: 400px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 .5rem;
    box-shadow:   0 8px 24px rgba(149, 157, 165, .2);
}

.search-box input{
    outline: none;
    border: none;
    background-color: unset;
    width: 100%;
    font-size: 1.1rem;
    padding: 10px 20px 10px 10px;
}

.search-box button{
    display: flex;
    font-size: 1rem;
    width: 135px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: var(--blue);
    color: var(--white);
    padding: 3px 2px; 
}

.header-left-icon{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: var(--blue);
    color: var(--white);
    width: 40px;
    height: 40px;
    box-shadow:0 8px 24px rgba(149, 157, 165, .8);
}

